<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-170147765-2"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-170147765-2');
			</script>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald&display=swap" rel="stylesheet">
			<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
			<link rel="manifest" href="/assets/favicons/site.webmanifest">
			<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
			<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
			<meta name="msapplication-TileColor" content="#da532c">
			<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
			<meta name="theme-color" content="#ffffff">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/pages/about.html">About</a></li>
	        		<li><a href="/pages/dashboard.html">SCRUB Dashboard</a></li>
				<li><a href="/pages/Intervention trackers.html">Interventions</a></li>
	        		<li><a href="/pages/resources.html">Open Science Resources</a></li>
				<li><a href="/pages/resources.html">International Survey on Coronavirus</a></li>
	    		</ul>
			</nav>
			<div class="container">
			<div class="content">
				
			{{ content }}
			
			</div><!-- /.content -->
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:peter.slattery@monash.edu">email us</a></li>
	        		</ul>
			</footer>
		</body>
	</html>
